# Handle line endings automatically for files detected as text
# and perform CRLF to LF conversion on checkin.
* text=auto

# Explicitly declare text files you want to always be LF or CRLF
*.gd text
*.tscn text
*.gdshader text
*.cfg text
*.yml text
*.json text
*.md text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.tpz binary
*.import binary